.venv
data
mlruns
mlflow.db
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.git
.github
.idea
.vscode
notebooks
report
docs
tests
conf
app
docker
playground
*.ipynb
*.csv
*.parquet
*.pkl
*.joblib
*.log
*.tmp
*.temp
.env
.streamlit
